/* Base Styles for the Navbar */
.navbar {
  width: 250px; /* Sidebar width */
  position: fixed; /* Fix the sidebar */
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color); /* Sidebar background */
  color: var(--text-light); /* Text color for links */
  padding-top: 30px;
  box-shadow: 8px 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Container to hold logo and pages */
.navbar-container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Logo/Title Section */
.navbar-logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: var(--text-light); 
  font-size: 1.5rem; 
  font-weight: bold;
}

.navbar-logo-image {
  width: 35px; 
  height: auto; 
  margin-right: 15px; 
  filter: brightness(0) invert(1);
}

/* Navbar Links and Items */
.navbar-pages {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar Item (Links with icons) */
.navbar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-light);
  padding-left: 30px;
  font-size: 1rem;
  padding: 15px 0; 
  padding-left: 30px;
  transition: color 0.2s, font-weight 0.2s, background-color 0.3s;
}

.navbar-item:hover {
  font-weight: bold; /* Make text bold on hover */
  background-color: var(--secondary-color);
  transform: scale(1.05) translateX(5px);
  transition: transform 0.2s ease;
}

/* Navbar Item Active State */
.navbar-item:active {
  font-weight: bold;
  background-color: var(--secondary-color);
}

/* Navbar Icon Size */
.navbar-icon {
  width: 30px;  /* Icon size */
  height: 30px; /* Icon size */
  margin-right: 15px;
}

/* Specific Icon Colors */
.navbar-icon.black {
  filter: invert(3%) sepia(14%) saturate(915%) hue-rotate(325deg) brightness(104%) contrast(101%);
}

.navbar-icon.red {
  filter: invert(47%) sepia(85%) saturate(2038%) hue-rotate(322deg) brightness(96%) contrast(85%);
}

.navbar-icon.white {
  filter: brightness(0) invert(1);
}

/* User Section (Profile and Logout) */
.navbar-user-section {
  list-style: none;
  padding: 0;
  margin-top: auto; /* Align user section at the bottom */
}

/* Username and User Photo */
.navbar-username {
  color: var(--text-light); /* Text color for username */
}

.navbar-user-photo {
  width: 30px; /* Photo size */
  height: 30px;
  border-radius: 50%; /* Circular photo */
  margin-right: 15px; /* Spacing between photo and username */
}

/* Navbar Labels */
.navbar-label {
  font-size: 1rem;
  color: var(--text-light); /* Label color */
  font-weight: 400;
  transition: color 0.2s;
}
