/* Bookmark Grid Styles */

.no-bookmarks-message {
  text-align: center;
  padding: 20px;
  background-color: var(--top-background-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 20px auto;
}

.no-bookmarks-message a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  margin: -10px 0;
}

.scroll-container::---element-backgroundscrollbar {
  width: 10px;
  height: 10px;
}

.scroll-container::---element-backgroundscrollbar-track {
  background: var(--background-color);
}

.scroll-container::---element-backgroundscrollbar-thumb {
  background-color: var(--border-color);
}

.scroll-container::---element-backgroundscrollbar-thumb:hover {
  background-color: var(--border-focus-color);
}

.scroll-container::---element-backgroundscrollbar-button {
  display: none;
}

.book-grid {
  display: flex;
  width: 100%;
  padding: 10px 0;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--top-background-color);
  border-radius: 0.5rem;
  width: 220px;
  margin-inline: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.book-card:hover {
  transform: scale(1.005);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

.book-card .book-image {
  width: 220px;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.book-image-container {
  height: 200px;
}

.book-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 220px;
}

.book-info {
  padding: 10px;
}

.book-title {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none;
  line-height: 1.4;
}

.book-author {
  color: var(--text-color);
  font-size: 0.9rem;
}

.remove-form {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.book-card:hover .remove-form {
  opacity: 1;
}

.remove-button {
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 15%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  padding: 0;
}

.remove-button:hover {
  background-color: rgb(205, 205, 205);
}

.book-actions {
  display: flex;
  gap: 0.5rem;
  padding: 5px 10px;
  width: 100%;
}

.action-button {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 0.75rem;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
}

.section-title span {
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: capitalize;
  margin-left: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .book-grid {
    gap: 15px;
  }

  .book-card {
    width: 180px;
  }

  .book-image {
    width: 160px;
    height: 240px;
  }
}

/* Requests Search */
/* Search Container Styles */
.filters-container {
  margin: 0 auto 20px;
}

.filters-container form {
  margin-inline: 1rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-container {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

.search-box:not(:placeholder-shown) + .clear-search {
  display: block;
}

.search-box {
  flex: 1;
  min-width: 250px;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Requests section */
.requests-section {
  overflow: hidden;
  width: 100%;
}

.scroll-container.vertical-scroll {
  overflow-x: hidden;
}

.rental-grid.vertical-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.rental-card {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--top-background-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.rental-card:hover {
  transform: scale(1.005);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

.rental-card .book-image {
  width: 130px;
  height: 200px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 0.25rem;
}

.rental-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.rental-info a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: inherit;
}

.rental-info .book-title {
  padding-top: 0px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
  word-wrap: break-word;
}

.rental-info .book-author {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.rental-details {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0.25rem;
}

.status-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.25rem;
}

.status-badge {
  border: 1px solid white;
  width: fit-content;
  padding: 0.25rem 6px;
  font-size: 0.7rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}

:root[data-theme="dark"] .status-badge {
  filter: brightness(0.6) contrast(3);
}

.status-badge.ready {
  background-color: #d4edda;
  color: #155724;
  border: 0px;
}

.status-badge.requested {
  background-color: #fff3cd;
  color: #856404;
  border: 0px;
}

.status-badge.preparing {
  background-color: #f2d6b5;
  color: #5f5241;
  border: 0px;
}

.status-badge.collected {
  background-color: #cfe2fd;
  color: #084298;
  border: 0px;
}

.last-updated {
  font-size: 0.8rem;
  color: #666;
  margin-left: 10px;
  justify-self: end;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.last-updated:hover {
  font-size: 0.8rem;
  color: #666;
  margin-left: 10px;
  justify-self: end;
  opacity: 1;
}

.return-date {
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--text-color);
  justify-self: end;
}

.collection-info {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: auto;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  gap: 0.5rem;
}

.rental-card .actions .button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.rental-card .actions .button.cancel {
  border-color: #982a22;
  color: #982a22;
}

.rental-card .actions .button.cancel:hover {
  background-color: #982a22;
  color: white;
}

.rental-card .actions .button.review {
  border-color: #2d7130;
  color: #2d7130;
}

.rental-card .actions .button.review:hover {
  background-color: #2d7130;
  color: white;
}

.rental-card .actions .button:hover {
  opacity: 0.9;
}

/* Review form */
.review-form {
  margin-top: 15px;
  display: grid;
  gap: 10px;
}

.review-form select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.review-form textarea {
  height: 80px;
  resize: vertical;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: 1.5rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 0.5rem;
  position: relative;
}

.modal-content h2 {
  margin-left: 0;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

/* Review Form Styles */
.rating-container {
  margin: 10px 0;
  text-align: center;
}

.stars {
  display: inline-block;
  direction: rtl;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  color: #ddd;
  font-size: 30px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type="radio"]:checked ~ label {
  color: #ffd700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}

.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  box-sizing: border-box;
}

.submit-review {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--search-border-radius);
  background-color: var(--top-background-color);
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.95rem;
  border: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.submit-review:hover {
  background-color: #f8f9fa;
  border-color: var(--border-focus-color);
}
