/* discover.css */

/* Search Container Styles */
.search-container {
  margin: 0 auto 40px;
}

.search-container form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: 1.5rem;
}

.search-input {
  flex: 1;
  min-width: 250px;
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--search-border-radius);
  background-color: var(--background-color);
  font-size: 0.95rem;
  font-family: "IBM Plex Sans", sans-serif;
  transition: all 0.2s ease;
  position: relative;
  background-image: url("assets/icons/search.svg"); /* Path to PNG or JPEG */
  background-position: 16px center; /* Position the icon inside the input */
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search-input:focus {
  outline: none;
  border-color: var(--border-focus-color);
  background-color: var(--background-color);
  background-image: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.filter-row select {
  flex-grow: 1;
}

/* Book Grid Styles */
.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  margin: -10px 0;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--background-color);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-focus-color);
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.book-grid {
  display: flex;
  gap: 5px;
  padding: 10px 0;
  width: max-content;
}

.book-card {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  background-color: var(--top-background-color);
  border-radius: 8px;
  width: 220px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
}

.book-card:hover {
  transform: scale(1.005);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-genre {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  font-weight: 500;
  align-self: flex-start;
}

.book-image {
  width: 200px;
  height: 300px;
  padding: 10px;
  object-fit: cover;
}

.book-title,
.book-author,
.book-genre,
.book-rating {
  padding: 5px 10px;
}

.book-title {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 0 0 5px;
  line-height: 1.4;
}

.book-author,
.book-genre {
  color: #666;
  font-size: 0.9rem;
}

.book-rating {
  color: #f39c12;
  font-weight: bold;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}

.section-title span {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: var(--text-color);
  text-transform: capitalize;
}

.book-card.see-more {
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 16px;
}

.see-more-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.see-more-content span {
  font-size: 1.2rem;
  color: var(--text-color);
}

.see-more-content span:hover {
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

.see-more-content .arrow {
  font-size: 2rem;
  margin-top: 10px;
}

.book-card.see-more:hover {
  background-color: var(--background-color);
  transform: scale(1.005);
}

/* Search Results */
.results-section {
  overflow: hidden;
  width: 100%;
}

.scroll-container.vertical-scroll {
  overflow-x: hidden;
  width: 100%;
}

.book-grid.vertical-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.book-grid.vertical-grid .book-card {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  margin: auto;
}

.book-grid.vertical-grid .book-image {
  width: 180px;
  height: 270px;
  object-fit: cover;
  margin-right: 30px;
}

.book-grid.vertical-grid .book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-grid.vertical-grid .book-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  color: var(--text-color);
  word-wrap: break-word;
}

.book-grid.vertical-grid .book-author {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 8px;
}

.book-grid.vertical-grid .book-genre {
  color: var(--text-color);
  margin-bottom: 0px;
}

.book-grid.vertical-grid .book-rating {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 8px;
}

.book-grid.vertical-grid .book-description {
  color: var(--text-color);
  margin-top: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}

.book-grid.vertical-grid .book-rating {
  color: #f39c12; /* Golden color for rating */
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 20px 15px;
  }

  .search-container form {
    flex-direction: column;
  }

  .search-input,
  .search-container select,
  .search-button {
    width: 100%;
  }
}

.clear-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.clear-button:hover {
  background-color: #3e8e41;
}
