/* Banner Styles */
.banner-section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  background-color: var(--top-background-color);
}

.banner-image {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto;
}

:root[data-theme="dark"] .banner {
  background-color: rgba(0, 0, 0, 0.85);
}

.banner h2 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--text-color);
  line-height: 2rem;
}

.banner p {
  font-size: 1em;
  color: var(--text-color);
  line-height: 1.4rem;
}

.banner-nav {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.banner-nav button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  padding: 0;
}

.banner-nav button:hover,
.banner-nav button.active {
  background: #000;
}

:root[data-theme="dark"] .banner-nav {
  filter: invert(1);
}

/* Search Container Styles */
.search-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  margin-left: auto;
  border-bottom: 1px solid var(--border-color);
}

.search-container form {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: 1.5rem;
}

.search-container h2 {
  margin: 0 auto;
  justify-content: center;
}

input.search-input {
  flex: 1;
  min-width: 250px;
  padding-left: 3rem;
  background-image: url("/assets/icons/search-light.svg");
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

:root[data-theme="dark"] input.search-input {
  background-image: url("/assets/icons/search-dark.svg");
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .banner-image,
  .banner-content {
    width: 100%;
    height: 50%;
  }

  .banner-content {
    padding: 20px;
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .banner p {
    font-size: 0.9em;
  }

  .banner-nav {
    bottom: 10px;
    right: 10px;
  }
}
