h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

/* Success and Error Messages */
.success,
.error {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: "IBM Plex Sans", sans-serif;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Form Group */
.profile-content {
  width: 100%;
}

.profile-section {
  margin: 16px;
  padding: 20px;
  margin-top: 0px;
  background-color: var(--top-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-actions {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

/* Account Management */

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  flex-grow: 1;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Error and Success Messages */
.error,
.success {
  padding: 12px 16px;
  border-radius: var(--search-border-radius);
  margin-bottom: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.password-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.form-group.error input {
  border-color: #d00;
}

.form-group.success input {
  border-color: #0c0;
}

.error-message {
  color: #d00;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Update Button */
.btn-update {
  padding: 12px 24px;
  border: none;
  border-radius: var(--search-border-radius);
  background-color: white;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.95rem;
  border: 1px solid #e1e1e1;
  transition: all 0.2s ease;
}

.btn-update:hover {
  background-color: #f8f9fa;
  border-color: #838383;
}

/* Payment Method */
.payment-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.payment-table th,
.payment-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.payment-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.inline-form {
  display: inline-block;
  margin-right: 5px;
}

.btn {
  padding: 2px 8px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.8rem;
  border: 1px solid #e1e1e1;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #f8f9fa;
  border-color: #838383;
}

.btn-danger {
  border-color: #77141e;
  color: #77141e;
}

.btn-danger:hover {
  background-color: #77141e;
  color: white;
}

.add-payment-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
